extends layout

block content
  .row.page-header
    .col-lg-12
      h1(style="margin-top:100px;font-size:40px;text-decoration:underline;") Paradise
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p(style="font-size:20px") Kothapet,Hyderbad
          .panel.panel-primary
            .panel-heading
              h2.panel-title(style="font-size:35px;text-decoration:underline;") Opening hours
            .panel-body
              p(style="font-size:20px") Monday - Friday : 7:00am - 7:00pm
              p(style="font-size:20px")  Saturday : 8:00am - 5:00pm
              p(style="font-size:20px")  Sunday : closed
          .panel.panel-primary
            .panel-heading
              h2.panel-title(style="font-size:35px;text-decoration:underline;")  Facilities
            .panel-body
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;Buffet
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;Food
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;Premium wifi
              | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              <iframe src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.8272226612307!2d78.6534712403193!3d17.420077383541535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb76730bf4dccf%3A0x2ca84b53416f0abd!2sAnurag%20University%2C%20Hyderabad!5e0!3m2!1sen!2sin!4v1690526278364!5m2!1sen!2sin" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/review/',style="font-size:25px;color:red;")     Add review
              h2.panel-title(style="text-decoration:underline;font-size:30px;")  Customer reviews
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                    span.reviewAuthor(style="font-weight:bold;font-size:20px") Ram
                    small.reviewTimestamp(style="text-decoration:underline;font-size:15px;") 16 July 2013
                  .col-xs-12
                    p(style="font-family:serif;font-size:20px;") What a great place. Biryani is delicious.
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAuthor(style="font-weight:bold;font-size:20px") Mahesh
                    small.reviewTimestamp(style="text-decoration:underline;font-size:15px;") 16 June 2013
                  .col-xs-12
                    p(style="font-family:serif;font-size:20px;") It was okay. <hr>
    .col-xs-12.col-md-3
      p.lead
        | Paradise is famous for Biryani <hr>
      p
        | If you've been and you like it - or if you don't - please leave a review to help other people just like you.