extends layout

block content
  h1(style="font-size:29px")
    .container(style="margin-top:5px;font-family:Arial;")
      h1(style="font-size:39px;font-weight:bold;text-decoration:underline;") Register now
      p.lead(style="font-size:21px;font-weight:bold;")
        | Create your account. Do you have one?
        a(href='/signin') Sign in Now.
      .form-group(style="display:inline-block;max-width:200;width:100%;margin-bottom:20px;")
        label(for='username',style="font-size:19px;font-weight:normal;padding-right:20px; ") Username
        input.form-control(type='text', id='username', name='username', placeholder='Enter a username')
      .form-group(style="display:inline-block;max-width:200;width:100%;margin-bottom:20px;")
        label(for='password',style="font-size:19px;font-weight:normal;padding-right:20px;") Password
        input.form-control(type='password', id='password', name='password', placeholder='Enter a password')
      .form-group(style="display:inline-block;max-width:200;width:100%;margin-bottom:20px;")
        label(for='confirm-password',style="font-size:19px;font-weight:normal;padding-right:20px;") Confirm Password
        input.form-control(type='password', id='confirm-password', name='confirm-password', placeholder='Enter your password again')
      button.btn.btn-primary(type='submit',style="width:15%;font-size:14px;margin-bottom:20px;") Submit
      &nbsp;
      <br>
      a.btn.btn-default(role='button', href='/',style="width:50%;font-size:24px;padding:10px;") Cancel